.experiencia {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  
.experiencia__titulo {
    margin: 3rem 0;
}
.experiencia__list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.experiencia__item {
    margin: 3rem 0;
}

.experiencia__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.experiencia__item:nth-child(2n) .experiencia__info {
    order: -1;
}

.experiencia__info {
    margin: 0 2rem;
}

.experiencia__img {
    width: 760px;
    height: 406px;
    box-shadow: 20px 20px 50px grey;
}

.experiencia__nombre-proyecto {
    font-weight: bold;
}

.experiencia__info__botones {
    display: flex;
    justify-content: flex-start;
}

.boton-demo {
    margin-left: 1.5rem;
}