.header__container {
    display: flex;
    justify-content: space-around;
}

.nombre__container {
    display: flex;
    align-items: center;
}

.menu__nav__list {
    display: flex;
    list-style: none;
}

.menu__nav__item {
    padding-left: 1.25rem;
}